<mat-toolbar class="container-fluid mat-toolbar">
    <div class="row d-flex align-items-center">
        <a mat-icon-button  href="/" class="d-flex justify-content-start">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
    </div>
</mat-toolbar>
<br>
<div fxLayout fxLayoutAlign="center center ">
    <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill" >
            <mat-label>Nombre</mat-label>
            <input matInput type="text">
        </mat-form-field>
          
    </mat-card-content>
</div>     