<div class="menu-bg" fxFill fxLayout="column" fxLayoutAlign="center center ">
    <mat-card class="example-card" >
        <div fxLayout="row">
            <div fxLayoutAlign="start center">
                <a class="fas fa-arrow-left fa-lg" routerLink="/config/menubrand"></a>
            </div>
            <div fxLayoutAlign="center center " id="add-title" >
                <h1 class=" text-center"><span style="color: #5454C9;">A</span>gregar marca</h1>
            </div>
        </div>
        <form [formGroup]="createMarcaForm" (ngSubmit)="handleCreateMarca()" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field >
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="Nombre" type="text">
            </mat-form-field>  
            <button mat-raised-button class="create-btn width-100" >Crear</button>
        </form>
    </mat-card>
</div>   