<div class="menu-bg" fxFill fxLayout="column" fxLayoutAlign="center center ">
    <mat-card class="example-card" >
        <div fxLayout="row">
            <div fxLayoutAlign="start center">
                <a class="fas fa-arrow-left fa-lg" routerLink="/config/menupoll"></a>
            </div>
            <div fxLayoutAlign="center center " id="add-title" >
                <h1 class=" text-center"><span style="color: #5454C9;">A</span>gregar Encuesta</h1>
            </div>
        </div>
        <form [formGroup]="createEncuestaForm" (ngSubmit)="handleCreateMarca()" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
                <mat-label>Subcategorias</mat-label>
                <mat-select formControlName="selectSubCategoria">
                    <mat-option *ngFor="let subCategoria of subCategorias" [value]="subCategoria.id">{{subCategoria.nombreSubcategoria}}</mat-option>
                </mat-select>
            </mat-form-field>       
            <button mat-raised-button class="create-btn width-100" [disabled]="!createEncuestaForm.valid">Crear</button>
        </form>
    </mat-card>
</div>   