<div class="content menu-bg" fxFill fxLayout="column" fxLayoutAlign="center center ">
    <mat-card class="example-card" >
        <div fxLayout="row">
            <div fxLayoutAlign="start center">
                <a class="fas fa-arrow-left fa-lg" routerLink="/config/menuusers"></a>
            </div>
            <div fxLayoutAlign="center center " id="add-title" >
                <h1 class=" text-center"><span style="color: #5454C9;">A</span>gregar Usuario</h1>
            </div>
        </div>
            <mat-card fxLayout="column">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="registro_cliente">
                    <mat-radio-button [value]="true" style="padding: 5%;" >Cliente</mat-radio-button>
                    <mat-radio-button [value]="false">Administrador o analista</mat-radio-button>
                </mat-radio-group> 
                <form [formGroup]="registerClienteForm" (ngSubmit)="handleRegisterCliente()" fxLayout="column" fxLayoutAlign="center center" *ngIf="registro_cliente==true;">
                    <mat-form-field appearance="outline" >
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput formControlName="nombreCliente" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasenaC" type="password">
                    </mat-form-field>
                    <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;">Registrar</button>
                </form>
                <!--Administrador y analista-->
                <form [formGroup]="registerUserForm" (ngSubmit)="handleRegisterUsuario()" fxLayout="column" fxLayoutAlign="center center" *ngIf="registro_cliente==false;">
                    <mat-form-field appearance="outline" >
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput formControlName="nombreUsuario" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasenaU" type="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol">
                            <mat-option *ngFor="let rol of roles, index as i" [value]="rol.nombre">{{rol.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;">Registrar</button>
                </form>
            </mat-card>
    </mat-card>
</div>