<div class="menu-bg content" fxFill fxLayout="column" fxLayoutAlign="center center ">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
    <div fxLayoutAlign="start center">
      <a class="fas fa-arrow-left fa-lg" routerLink="/pages-respondent/profile"></a>
  </div>
    <div class="texto-entrada">
      <H2>CAMBIO DE CONTRASEÑA</H2>
    </div>
  </div>
  <mat-card class="example-card">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx" >
      <img src="assets/images/profile.png" style="width: 25%;" class="rounded-circle img-thumbnail" alt="profile" fxLayoutAlign="center center ">
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="saveData()" novalidate fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput formControlName="contrasena" type="text" placeholder="********">
      </mat-form-field>

        <button  mat-raised-button type="submit" ng-disabled="passwordForm.$invalid" class="change-btn width-100" >Cambiar Contraseña</button>
    </form>
  </mat-card>

</div>

