@import './../../../styles.scss';

mat-card{
  -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
  -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
  box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
}

$mercadoucab-dark: #222327;
$mercadoucab-light: whitesmoke;
$mercadoucab-blue: #5454C9;

.menu-bg{
  background-image: url(./../../../assets/images/loginBackground.png);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 65%;
}

.space{
  margin-top: 1rem;
}

.texto-entrada h2 {
  margin: 0;
  line-height: 1.4;
  text-align: center;
}
.texto-entrada h2::after {
  content: '';
  display:  block;
  width: 13rem;
  height: .1rem;
  background-color: $mercadoucab-primary;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

mat-card > div > div#add-title{
  margin-right: auto ;
  margin-left: auto ;
  margin-top: auto;
  margin-bottom: auto ;
}

mat-form-field {
  width: 40rem;
  margin-bottom: 0;

}

mat-label{
  text-align: center;

}

.fa-arrow-left{
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-bottom: 0rem;
}

.fa-user-edit{
  cursor: pointer;
  text-decoration: none;
  color:$mercadoucab-primary;
  margin-bottom: 0rem;
}


.change-btn{
  background:$mercadoucab-primary;
  color: white;
  font-size: large;
}


