<div fxFill fxLayout="column" fxLayoutAlign="center center"  style="padding-left: 30px;padding-top: 20px;">
        <div *ngFor="let pregunta of preguntas,index as i" style="line-height: 2;">
            <div >
                <mat-card >
                    <div>
                        <div>• {{pregunta.descripcionPregunta}}</div>
                        <div>{{pregunta.tipo}}</div>
                    </div>
                    <div *ngFor="let item of pregunta.opciones,index as j">
                        <div *ngIf="pregunta.tipo=='Seleccion simple' || pregunta.tipo=='Verdadero o falso'">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="radioSelected[i+1]">
                                <mat-radio-button [value]="item">{{item.descripcion}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="pregunta.tipo=='Seleccion multiple'">
                            <mat-checkbox  [(ngModel)]="item.isChecked" >{{item.descripcion}}</mat-checkbox>
                        </div>
                        <div *ngIf="pregunta.tipo=='Completacion'">
                            <mat-form-field >
                                <input matInput type="text" [(ngModel)]="radioSelected[i+1]">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
        <br>
        </div>
        <button mat-raised-button class="create-btn " color="primary" (click)="handleRespuesta()">Enviar</button>
        <br>
        <!--<form [formGroup]="respuestaForm" (ngSubmit)="handleRespuesta()">
            <div *ngFor="let pregunta of preguntas,index as i" style="line-height: 2;">
                <div *ngIf="pregunta.tipo=='Completacion'">
                    <mat-card >
                        <div *ngIf="pregunta.tipo =='Completacion'">
                            <div>• {{pregunta.descripcionPregunta}}</div>
                            <div>{{pregunta.tipo}}</div>
                        </div>
                        <div *ngFor="let item of pregunta.opciones">
                            <div *ngIf="pregunta.tipo=='Completacion'">
                                <mat-form-field >
                                    <input matInput formControlName="Respuesta" type="text">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <br>
            <button mat-raised-button class="create-btn width-100" color="primary">Enviar</button>
        </form>
        <br>-->
    <!--<button (click)="checkData()">checkdata</button>-->
</div>