<div class="content menu-bg">
    <mat-toolbar >
        <div >
            <a mat-icon-button  href="/">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </a>
        </div>
    </mat-toolbar>
    <br>
    <div fxFill fxLayout="column" fxLayoutAlign="center center" >
        <div fxLayout fxLayoutAlign="center center ">
            <mat-card fxLayout="column"> 
                <br>
                <form [formGroup]="registerEncuestadoForm" (ngSubmit)="handleRegisterEncuestado()" fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" >
                        <mat-label>Numero de Identificacion</mat-label>
                        <input matInput formControlName="numeroIdentificacion" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Primer nombre</mat-label>
                        <input matInput formControlName="primerNombre" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Primer apellido</mat-label>
                        <input matInput formControlName="primerApellido" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Direccion Complemento</mat-label>
                        <input matInput formControlName="direccionComplemento" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput formControlName="fechaNacimiento" type="date">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let genero of generos, index as i" [value]="genero.descripcion">{{genero.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Estado civil</mat-label>
                        <mat-select formControlName="estadoCivil">
                            <mat-option *ngFor="let estado of estadosCiviles, index as i" [value]="estado.descripcion">{{estado.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Ocupacion</mat-label>
                        <input matInput formControlName="ocupacion" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Parroquia</mat-label>
                        <mat-select formControlName="Selectparroquia">
                        <mat-option *ngFor="let parroquia of Parroquias" [value]="parroquia.idParroquia">{{parroquia.nombreParroquia}}</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <mat-form-field appearance="outline" >
                        <mat-label>Nivel de estudio</mat-label>
                        <input matInput formControlName="nivelEstudio" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Nivel socioeconomico</mat-label>
                        <input matInput formControlName="nivelSocioeconomico" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput formControlName="nombreUsuario" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasena" type="password">
                    </mat-form-field>
                    <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;" [disabled]="!registerEncuestadoForm.valid">Registrar</button>
                </form>
            </mat-card>        
        </div>    
    </div> 
    <br>
</div>