
$mercadoucab-dark: #222327;
$mercadoucab-light: whitesmoke;
$mercadoucab-blue: #5454C9;

.menu-bg{
    background-image: url(./../../../assets/images/loginBackground.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 65%;
}

mat-form-field{
    width: 25rem;
}

mat-card{
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
    -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.31) !important;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }