<div class="menu-bg" fxFill fxLayout="column" fxLayoutAlign="center center ">
    <mat-card class="example-card" >
        <div fxLayout="row">
            <div fxLayoutAlign="start center">
                <a class="fas fa-arrow-left fa-lg" routerLink="/config/menupoll"></a>
            </div>
            <div fxLayoutAlign="center center " id="add-title" >
                <h1 class=" text-center"><span style="color: #5454C9;">A</span>gregar Pregunta</h1>
            </div>
        </div>
        <form [formGroup]="EncuestaPreguntaForm"  fxLayout="column" fxLayoutAlign="center center">
            <div formArrayName="itemRows">
                <div *ngFor="let itemrow of EncuestaPreguntaForm?.controls.itemRows.controls; let i=index" [formGroupName]="i" >
                    <mat-form-field appearance="outline">
                        <mat-label>Preguntas</mat-label>
                        <mat-select formControlName="id">
                            <mat-option *ngFor="let pregunta of Preguntas" [value]="pregunta.preguntaId">{{pregunta.descripcionPregunta}}  Tipo:{{pregunta.tipoPregunta}}</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <br>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button *ngIf="EncuestaPreguntaForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" mat-raised-button class="delete-btn" >Eliminar</button>
                    </div>
                    <br>
                </div> 
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-raised-button class="add-option width-100"  (click)="addNewRow()" >Seleccionar otra pregunta</button>
                </div>
            </div>    
            <br>
            <button mat-raised-button class="create-btn width-100" [disabled]="!EncuestaPreguntaForm.valid" (click)="handlePollQuestion()">Agregar</button>
        </form>
    </mat-card>
</div>   