<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
        <div class="texto-entrada">
            <h1 >Actualizar Marca</h1>
        </div>
        <a class="fas fa-arrow-left fa-2x" routerLink="/config/menubrand"></a>
        <form [formGroup]="updateMarcaForm" (ngSubmit)="handleUpdateMarca()" fxLayout="column" fxLayoutAlign="center center" > 
            <mat-label>Nombre</mat-label>
            <mat-form-field appearance="outline" >
            <mat-label>{{oldnombre}}</mat-label>
                <input matInput formControlName="nombre" type="text">
            </mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-form-field appearance="outline" >
                <mat-label>{{oldtipo}}</mat-label>
                    <input matInput formControlName="tipo" type="text">
            </mat-form-field>
            <mat-label>Capacidad</mat-label>
            <mat-form-field appearance="outline"  >
                <mat-label>{{oldcapacidad}}</mat-label>
                    <input matInput formControlName="capacidad" type="number">
            </mat-form-field>
            <mat-label>unidad</mat-label>
            <mat-form-field appearance="outline"  >
                <mat-label>{{oldunidad}}</mat-label>
                    <input matInput formControlName="unidad" type="text">
            </mat-form-field>
            <mat-label>Subcategoría</mat-label>
            <mat-form-field appearance="outline" >
                <mat-label>{{oldsubcategoria}}</mat-label>
            <mat-select formControlName="subcategoria">
                <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{subcategoria.nombreSubcategoria}}</mat-option>
            </mat-select>
            </mat-form-field>
            <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;">Actualizar</button>
        </form>
    </mat-card>    
</div>
