<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="example-card" >
    <div class="texto-entrada">
        <h1 >Actualizar Usuario</h1>
    </div>
    <div fxLayout="row" style="width: 80%;"  fxLayoutAlign="space-between center">
        <a class="fas fa-arrow-left fa-2x" routerLink="/config/menuusers"></a>   
    </div> 
    <form [formGroup]="updateUsuarioForm" (ngSubmit)="handleUpdateUsuario()" fxLayout="column" fxLayoutAlign="center center" >
        <mat-label>Usuario: {{oldnombre}}</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Contaseña</mat-label>
            <input matInput formControlName="contrasena" type="text">
        </mat-form-field> 
        <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;">Actualizar</button>
    </form>
    </mat-card>
</div>