<mat-toolbar class="container-fluid mat-toolbar">
    <div class="row d-flex align-items-center">
        <a mat-icon-button  routerLink="/config/menuquestion" class="d-flex justify-content-start">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>    
    </div>
</mat-toolbar>
<br>
<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout fxLayoutAlign="center center ">
        <mat-card-content fxLayout="column">
            <mat-label>Descripción</mat-label>
            <mat-form-field appearance="fill" >
            <mat-label>{{info.descripcionPregunta}}</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <br>
            <mat-label>Tipo<a href=""></a></mat-label>
            <mat-form-field appearance="fill">
            <mat-label>{{info.tipo}}</mat-label>
            <mat-select>
                <mat-option value="option">tipo1</mat-option>
                <mat-option value="option">tipo2</mat-option>
                <mat-option value="option">tipo3</mat-option>
                <mat-option value="option">tipo4</mat-option>
            </mat-select>
            </mat-form-field>
            <br>
            <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" (click)="updateQuestion()">
                    <span class="btn-send-text">Actualizar</span>
                </button>
            </div>
        </mat-card-content>
    </div>     
</div>
