<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <div class="title-container" style="margin-top: 60px;">
        <h1 class="sign-in-title text-center">Muestra del estudio</h1>
    </div>
    <div fxLayout="row" style="width: 80%;"  fxLayoutAlign="space-between center">
      <a class="fas fa-arrow-left fa-2x" routerLink="/analitics/myStudies"></a>
        <mat-form-field >
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            <i class="fas fa-plus fa-lg" (click)="addMuestra()" ></i>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- nombreUsuario Column -->
        <ng-container matColumnDef="nombreUsuario">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.encuestadoNombre}} </td>
        </ng-container>
      
        <!-- apellidoUsuario Column -->
        <ng-container matColumnDef="apellidoUsuario">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.encuestadoApellido}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroTelefono">
          <th mat-header-cell *matHeaderCellDef> Numero telefonico </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono[0].codigoArea}}-{{element.telefono[0].numeroTelefono}} </td>
        </ng-container>

         <!-- Symbol Icon -->
         <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>Encuesta</th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button *ngIf="element.estadoMuestra != 'completo'" class="finish-study" (click)="interviewMuestra(element.encuestadoId,element.solicitudId)"><strong>Responder encuesta</strong></button><div *ngIf="element.estadoMuestra == 'completo'"><strong>No hay encuestas por responder</strong></div></td>
        </ng-container>

        <!-- Symbol Icon -->
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><span><i class="fas fa-edit" style="margin-left: 15px;cursor: pointer;" (click)="updateMuestra(element.usuarioId)"></i></span></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" style="width: 80%;margin-left: auto;margin-right: auto;" showFirstLastButtons></mat-paginator>
</div>
