<div class="menu-bg content" fxFill fxLayout="column" fxLayoutAlign="center center ">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
    <div fxLayoutAlign="start center">
      <a class="fas fa-arrow-left fa-lg" routerLink="/config/profile"></a>
  </div>
    <div class="texto-entrada">
      <H2>CAMBIO DE CONTRASEÑA</H2>
    </div>
  </div>

  <mat-card class="example-card">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx" >
      <img src="assets/images/profile.png" style="width: 25%;" class="rounded-circle img-thumbnail" alt="profile" fxLayoutAlign="center center ">
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="saveData()" novalidate fxLayout="column" fxLayoutAlign="center center">

      <mat-label fxLayoutAlign="center " class="space">Antigua Contraseña:</mat-label>
        <mat-form-field fxLayout="row" fxLayoutAlign="center start">
              <input formControlName="oldPassword" class="form-control" type="text" placeholder="********">
              <div *ngIf="passwordForm.get('oldPassword').errors && passwordForm.get('oldPassword').dirty" >
                <p *ngIf="passwordForm.get('oldPassword').hasError('required')" style="color: red; font-size: small;">Debe llenar el campo.</p>
              </div>
        </mat-form-field>

        <mat-label fxLayoutAlign="center " >Nueva Contraseña:</mat-label>
        <mat-form-field fxLayout="row" fxLayoutAlign="center start">
              <input formControlName="Password1" class="form-control" type="text"  placeholder="********">
              <div *ngIf="passwordForm.get('Password1').errors && passwordForm.get('Password1').dirty" >
                <p *ngIf="passwordForm.get('Password1').hasError('required')" style="color: red; font-size: small;">Debe llenar el campo.</p>
              </div>
        </mat-form-field>

        <mat-label fxLayoutAlign="center " >Confirmar Nueva Contraseña:</mat-label>
        <mat-form-field fxLayout="row" fxLayoutAlign="center start" >
            <input  type="text" formControlName="Password2" class="form-control" placeholder="********">
            <div *ngIf="passwordForm.get('Password2').errors && passwordForm.get('Password2').dirty" >
              <p *ngIf="passwordForm.get('Password2').hasError('required')" style="color: red; font-size: small;">Debe llenar el campo.</p>
            </div>
       </mat-form-field>

        <button  mat-raised-button type="submit" ng-disabled="passwordForm.$invalid" class="change-btn width-100" >Cambiar Contraseña</button>
    </form>
  </mat-card>

</div>

