<div  fxFill fxLayout="column" fxLayoutAlign="center center " class="menu-bg">
    <mat-card class="example-card" >
        <div fxLayout="row">
            <div fxLayoutAlign="start center">
                <a class="fas fa-arrow-left fa-lg" routerLink="/pages/client"></a>
            </div>
            <div fxLayoutAlign="center center " id="add-title" >
                <h1 class=" text-center"><span style="color: #5454C9;">S</span>olicitar estudio</h1>
            </div>
        </div>
        <form [formGroup]="requestStudyForm" (ngSubmit)="handleRequestStudy()" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field >
                <mat-label>Edad inicial</mat-label>
                <input matInput formControlName="edadInicial" type="number">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Edad  Final</mat-label>
                <input matInput formControlName="edadFinal" type="number">
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>Genero</mat-label>
                <mat-select formControlName="selectGenero">
                    <mat-option *ngFor="let genero of generos" [value]="genero.descripcion">{{genero.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Parroquia</mat-label>
                <mat-select formControlName="selectParroquia">
                    <mat-option *ngFor="let parroquia of Parroquias" [value]="parroquia.idParroquia">{{parroquia.nombreParroquia}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Subcategoria</mat-label>
                <mat-select formControlName="selectSubcategoria">
                    <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id"><span *ngIf="subcategoria.estado=='activo'">{{subcategoria.categoria}}-{{subcategoria.nombreSubcategoria}}</span></mat-option>
                </mat-select>
            </mat-form-field>
            <mat-label>Nivel socioeconomico</mat-label>
            <div>
                <mat-checkbox formControlName="selecNivelS1" [value]="1" style="margin-left: 10px;margin-right: 10px;">Baja</mat-checkbox> 
                <mat-checkbox formControlName="selecNivelS2" [value]="2" style="margin-left: 10px;margin-right: 10px;">Media</mat-checkbox> 
                <mat-checkbox formControlName="selecNivelS3" [value]="3" style="margin-left: 10px;margin-right: 10px;">Alta</mat-checkbox> 
            </div>
            <br>
            <button mat-raised-button class="create-btn width-100" [disabled]="!requestStudyForm.valid">Enviar solicitud</button>
        </form>
    </mat-card>
</div>   