@import '../../../styles.scss';

$mercadoucab-dark: #222327;
$mercadoucab-light: whitesmoke;
$mercadoucab-blue: #5454C9;
$mercadoucab-font: 'Nunito Sans', sans-serif;

/*table {
    width: 80%;
}*/

.menu-bg{
    background-image: url(./../../../assets/images/loginBackground.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 65%;
}

mat-card{
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}

h1:first-letter  { 
    color:  $mercadoucab-blue; 
} 


.title-container{ margin-top: 20px; margin-bottom: 35px; }


mat-form-field{
    margin-right: auto;
    margin-left: auto;
}

.fa-plus{
    padding-left: 20px;
    color: #94d82d;
    cursor: pointer;
    position: fixed;
}

.systems-title{
    color: black;
    font-size: 28px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    font-family: $mercadoucab-font;
}

.systems-card{
    width: 300px;
    height: 320px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(159,159,159,0.27);
    -moz-box-shadow: 10px 10px 5px -7px rgba(159,159,159,0.27);
    box-shadow: 10px 10px 5px -7px rgba(159,159,159,0.27);
    border: 1.5px solid #E7E5E5;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.card-title{
    color: #000;;
    font-size: 24px;
    font-weight: 800 !important;
    #logicColour{
        color: #000;
    }
}

.systems-card-btn{
    display: none;
}

.systems-card-btn:hover{
    text-decoration: underline;
}

.litle-card{
    width: 300px;
    height: 70px;
    border-radius: 0;
    border: 1px solid #dedede;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px transparent, 0px 1px 1px 0px transparent, 0px 1px 3px 0px transparent;
}

.litle-card:hover{
    border: 1px solid $mercadoucab-primary;
}

.litle-title{
    font-size: 16px;
    font-weight: 800 !important;
}

.cursor-pointer{
    cursor: pointer;
}

.systems-card-btn-sm{
    color: $mercadoucab-primary;
    width: 75%;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    margin-bottom: 20px;
}

.systems-card-btn-sm:hover{
    color: #FFF;
    background-color: $mercadoucab-primary;
}

.disable_ripple{
    background: #02D4D6 !important;
    }


// New code
.participants-card{
    width: 275px;
    margin-bottom: 10px !important;
    margin: 10px;
    min-height: 200px;
    max-height: 250px;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0 0px;
}

.participants-card-title{
    font-size: 12px;
}

.participants-card-subtitle{
    font-size: 12px;
    margin-bottom: 5px;
}

mat-card-content{
    margin-bottom: 5px;
}

.validate-btn{
    color: green;
    border: 1px solid green;
    font-weight: 700;
    width: fit-content;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
}

table { border-collapse: collapse; width: 100%; font-family: $mercadoucab-font; font-size: 13px; border: 1px solid black; }

th, td { text-align: left; padding: 8px; font-weight: 600; border-bottom: 1px solid black; }

th { border: 1px solid $mercadoucab-blue; background-color: $mercadoucab-blue; color: white; }

.tr-total { background-color:rgb(255, 177, 113); }
.tr-total:hover {background-color: #FDA256; cursor: pointer;}
.tr-arrived { background-color:rgb(177, 255, 113); }
.tr-arrived:hover {background-color: rgb(147, 230, 80);; cursor: pointer;}
.tr-remaining { background-color:rgb(255, 113, 113); }
.tr-remaining:hover {background-color: rgb(235, 90, 90); cursor: pointer;}


.display-contents{ display: contents; }

.try-again-btn{ background-color: $mercadoucab-blue; color: $mercadoucab-light; }

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.chip-arrived{ color: green; background-color: transparent; }

.bg-orange{
    background-color: $mercadoucab-blue;
}

.bg-green{
    background-color: #7FDB91;
}

.bg-red{
    background-color: #FF7D8C;
}



