@import './../../../styles.scss';

$mercadoucab-dark: #222327;
$mercadoucab-light: whitesmoke;
$mercadoucab-blue: #5454C9;

table {
    width: 80%;
}

.menu-bg{
    background-image: url(./../../../assets/images/loginBackground.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 65%;
}

mat-card{
    padding: 150px;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    height: 675px;
}


h1:first-letter  { 
    color:  $mercadoucab-blue; 
} 


.title-container{ margin-top: 20px; margin-bottom: 65px; }


mat-form-field{
    margin-right: auto;
    margin-left: auto;
}

.fa-plus{
    padding-left: 270px;
    color: #94d82d;
    cursor: pointer;
}