<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="disable_ripple">
    <mat-expansion-panel-header >
    </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="center" >
          <mat-card  class="systems-card" fxLayout="column" fxLayoutAlign="center center">
            <div class="login-container">
              <div class="cursor-pointer" >
                <span  class="card-title">Solicitar estudio</span>
              </div>
              <div class="my-4 "fxLayoutAlign="center center">
                  <img class="cursor-pointer" (click)="solicitarEstudio()" height="125" src="../../../assets/images/solicitud.png"  alt="">
              </div>
            </div>
            <div class="width-100" fxLayoutAlign="center center">
              <button  class="systems-card-btn-sm" id="show-sm" (click)="solicitarEstudio()" mat-raised-button>SOLICITAR</button>
            </div>
          </mat-card>
        </div>
  
    </mat-expansion-panel>
</mat-accordion>
<div class="width-100 content text-center slide-in-fwd-center" fxLayout="column" fxLayoutAlign=" center" style="background: #EAF3F3;">
  <div class="title-container">
    <h1 class="sign-in-title text-center">Estudios solicitados</h1>
  </div>
  <div
  class="content"
  fxLayout="row wrap" 
  fxLayoutAlign="center none">
      <ng-container *ngFor="let item of elements">
          <mat-card class="participants-card" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="column">
                  <mat-card-header>
                      <mat-card-title class="participants-card-title">
                          {{item.idEstudio}}
                      </mat-card-title>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Edad inicial:</strong> {{item.edadInicial}} </mat-card-subtitle>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Edad final:</strong>{{item.edadFinal}}</mat-card-subtitle>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Marca:</strong>{{item.marca}}</mat-card-subtitle>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Subcategoria:</strong>{{item.unidadSubcategoria}}</mat-card-subtitle>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Genero:</strong> {{item.genero}}</mat-card-subtitle>
                      <mat-card-subtitle class="participants-card-subtitle"><strong>Nivel socioeconomico:</strong> {{item.nivelSocioeconomico}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                      
                  </mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-chip-list >
                          <mat-chip class="chip-arrived"><strong>Estatus:{{item.estado}} </strong></mat-chip>
                      </mat-chip-list>
                  </div>
              </div>
              <div>
                <div style="margin-right: 10px;cursor: pointer;" *ngIf="item.encuestaId != 0" (click)="verResultados(item.encuestaId)">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
          </mat-card>
      </ng-container>
  </div>
</div>




<!--<div fxFill class=" content" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 20px;">
    <div class="title-container">
      <h1 class="sign-in-title text-center">Estudios solicitados</h1>
    </div>
    <div fxLayout="row" style="width: 80%;"  fxLayoutAlign="space-between center">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <ng-container matColumnDef="idEstudio">
            <th mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let element"> {{element.idEstudio}} </td>
          </ng-container>

          <ng-container matColumnDef="estatusEstudio">
            <th mat-header-cell *matHeaderCellDef> Estatus </th>
            <td mat-cell *matCellDef="let element"> {{element.estatusEstudio}} </td>
          </ng-container>

          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef> Edad </th>
            <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaIniEstudio">
            <th mat-header-cell *matHeaderCellDef> Fecha solicitado </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaIniEstudio}} </td>
          </ng-container>

          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> Genero</th>
            <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
          </ng-container>

          <ng-container matColumnDef="icons">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> <span><i class="fas fa-edit" style="margin-left: 15px;cursor: pointer;" (click)="updateEstudio(element.idEstudio)"></i></span></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" style="width: 80%;margin-left: auto;margin-right: auto;" showFirstLastButtons></mat-paginator>
  </div>-->