<div fxFill class="login-bg content" fxLayout="column" fxLayoutAlign="center center">
    <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxLayout="row" fxLayoutAlign="center center">
            <div class="login-container">
               <div class="text-center logo-container">
                 <img height="75" src="assets/images/survey.png" alt="mercadoucab logo">
               </div>
               <div class="title-container">
                 <h1 class="text-center">Olvido su clave</h1>
                 <div class="linear-gradient-border mt-3"></div>
               </div>
               <form [formGroup]="signInForm" (ngSubmit)="handleSignIn()" fxLayout="column" fxLayoutAlign="center center">
                 <mat-form-field appearance="outline">
                   <mat-label>Email <span class="trans">.</span></mat-label>
                   <input matInput formControlName="Email" class="form-control">
                 </mat-form-field>
                 <div class="links-container text-center" fxLayout="column" fxLayoutAlign="center center">
                    Al hacer click en enviar se le enviara un correo para hacer el cambio de clave
                  </div>
                 <button class="width-login-btn" mat-raised-button [disabled]="!signInForm.valid || bSignIn || (checkingInputEmail())" fxLayoutAlign="center center">
                   <span *ngIf="!bSignIn" class="btn-enviar-text">ENVIAR</span>
                   <mat-spinner *ngIf="bSignIn" mode="indeterminate" [diameter]="30"></mat-spinner>
                 </button>
               </form>
               <div class="links-container text-center" fxLayout="column" fxLayoutAlign="center center">
                 <a class="sl-link" routerLink="/auth/login">Regresar al login</a>
               </div>
            </div>
        </mat-card>    
    </div>
</div>