@import './../../../styles.scss';

$mercadoucab-dark: #222327;
$mercadoucab-light: whitesmoke;
$mercadoucab-blue: #5454C9;

.login-bg{
    background-image: url(./../../../assets/images/loginBackground.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 65%;
}

mat-card{
    padding: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    height: 500px;
}

.login-container{
    padding-left: 30px;
    padding-right: 30px;
}

.logo-container{
    padding-top: 21px;
}

.title-container{ margin-top: 21px; margin-bottom: 21px; }



.width-login-btn{
    margin-top: 10px;
    width: 250px;
    height: 45PX;
    background-color: $mercadoucab-primary;
    color: $mercadoucab-light;
    text-align: -webkit-center;
    color: #39AFD0;
}

.btn-enviar-text{
    font-size: 14px;
    letter-spacing: 0.1rem;
    font-weight: 800;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}

.trans{
    color: transparent;
}

.linear-gradient-border{
    width: 110px;
    margin: auto;
    height: 2px;
    background: linear-gradient(90deg, $mercadoucab-primary 0%, $mercadoucab-secondary 50%);
}

.links-container{ padding-top: 15px; padding-bottom: 21px;}

.sl-link{
    font-size: 14px;
    text-decoration: none;
    color: $mercadoucab-secondary;
}

.cookie-msg{
    white-space: normal;
    font: caption;
    font-size: 12px;
    text-align: justify;
}
