<div class="menu-bg content" fxFill fxLayout="column" fxLayoutAlign="center center ">

<mat-card fxLayoutAlign="center center " fxLayout="column" >


  <mat-card-content >
    <mat-card-title >
      <div> <h1>ENCUESTA</h1>
      </div>

    </mat-card-title>

    <mat-card class="space" fxLayout="column">
      <mat-label>Responda su pregunta a traves de una descripcion.</mat-label>
      <mat-form-field >
        <textarea name="" id="" cols="30" rows="10" style="width: 24rem; height:5rem;" placeholder="Escriba su descripcion aqui."></textarea>
      </mat-form-field>
    </mat-card>

    <mat-card class="space" fxLayout="column" >
      <mat-label>Seleccione uno de los valores dentro del rango [1-7],
        siendo 1 lo menos de acuerdo a la pregunta y 7 los mas de acuerdo.</mat-label>

      <div class="space">
        <i>1</i>
        <input name="valor" value="1" type="radio" />
      </div>
      <div >
        <i>2</i>
        <input name="valor" value="2" type="radio" />
      </div>
      <div>
        <i>3</i>
        <input name="valor" value="3" type="radio" />
      </div>
      <div>
        <i>4</i>
        <input name="valor" value="4" type="radio" />
      </div>
      <div>
        <i>5</i>
        <input name="valor" value="5" type="radio" />
      </div>
      <div>
        <i>6</i>
        <input name="valor" value="6" type="radio" />
      </div>
      <div>
        <i>7</i>
        <input name="valor" value="7" type="radio" />
      </div>
    </mat-card>


    <mat-card class="space" fxLayout="column">
      <mat-label>Seleccione una opcion de las que se proporcionan a continuacion:</mat-label>
      <div class="space">
        <input name="valor" value="1" type="radio" />
        <i>Opinion ejemplo 1</i>
      </div>
      <div >
        <input name="valor" value="2" type="radio" />
        <i>Ejemplo opinion 2</i>
      </div>
      <div>
        <input name="valor" value="3" type="radio" />
        <i>3 Ejemplo opinion </i>
      </div>
    </mat-card>




  </mat-card-content>
  <button class="width-login-btn" mat-raised-button fxLayoutAlign="center center" class="btn">
    <span  class="btn-login-text">ENVIAR</span>
    <mat-spinner  mode="indeterminate" [diameter]="30"></mat-spinner>
  </button>
</mat-card>
</div>
