<div class="menu-bg content" fxFill fxLayout="column" fxLayoutAlign="center center ">
  <div >
    <h3 style="width: 30rem; text-align: center;">What is the original text of Lorem Ipsum Dolor Sit Amet?</h3>
</div>
  <mat-card class="space" fxLayout="column" >
    <mat-label>Seleccione uno de los valores dentro del rango [1-7],
      siendo 1 lo menos de acuerdo a la pregunta y 7 los mas de acuerdo.</mat-label>

    <div class="space">
      <i>1</i>
      <input name="valor" value="1" type="radio" />
    </div>
    <div class="space">
      <i>2</i>
      <input name="valor" value="2" type="radio" />
    </div>
    <div class="space">
      <i>3</i>
      <input name="valor" value="3" type="radio" />
    </div>
    <div class="space">
      <i>4</i>
      <input name="valor" value="4" type="radio" />
    </div>
    <div class="space">
      <i>5</i>
      <input name="valor" value="5" type="radio" />
    </div>
    <div class="space">
      <i>6</i>
      <input name="valor" value="6" type="radio" />
    </div>
    <div class="space">
      <i>7</i>
      <input name="valor" value="7" type="radio" />
    </div>
    <button mat-raised-button class="btn" style="width: 10rem;" style="align-self: center;" routerLink="/analitics/interview">Enviar</button>
  </mat-card>

</div>
