<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxLayout="row" fxLayoutAlign="center center">
            <div class="menu-container">
                <div class="title-container">
                    <h1 class="text-center">MENU ESCUESTAS</h1>
                 </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center">
                        <span class="btn-send-text">Crear Encuestas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center">
                        <span class="btn-send-text">Consultar Encuestas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center">
                        <span class="btn-send-text">Actualizar Encuestas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center">
                        <span class="btn-send-text">Eliminar Encuestas</span>
                    </button>
                </div>
                <div class="links-container text-center" fxLayout="column" fxLayoutAlign="center center">
                    <a class="sl-link" routerLink="/config/menuconfig">Volver</a>
                </div>
            </div>
        </mat-card>
    </div>
</div>