<div fxFill class="menu-bg content" fxLayout="column" fxLayoutAlign="center center">
    <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
            <div class="menu-container">
                <div class="title-container">
                    <h1 class="text-center">MENU</h1>
                 </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menucategory">
                        <span class="btn-send-text">Categorías</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menusubcategory">
                        <span class="btn-send-text">Subcategorías</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menupoll">
                        <span class="btn-send-text">Encuestas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menubrand">
                        <span class="btn-send-text">Marcas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menutypes">
                        <span class="btn-send-text">Tipos</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menupresentation">
                        <span class="btn-send-text">Presentaciones</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menuquestion">
                        <span class="btn-send-text">Preguntas</span>
                    </button>
                </div>
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menustudies">
                        <span class="btn-send-text">Estudios</span>
                    </button>
                </div>                
                <div class="slide-in-fwd-center content" fxLayout="column" fxLayoutAlign="center center">
                    <button class="width-send-btn" mat-raised-button  fxLayoutAlign="center center" routerLink="/config/menuusers">
                        <span class="btn-send-text">Usuarios</span>
                    </button>
                </div>
                <div class="links-container text-center" fxLayout="column" fxLayoutAlign="center center">
                    <a class="sl-link" routerLink="/auth/login">Cerrar sesión</a>
                </div>
            </div>
    </div>
</div>