<div class="width-100 content text-center slide-in-fwd-center" fxLayout="column" fxLayoutAlign=" center" >
    <div class="title-container">
      <h1 class="sign-in-title text-center">Estudios solicitados</h1>
    </div>
    <div fxLayout="row" style="width: 60%;position: fixed;padding-top: 5vh;"  fxLayoutAlign="space-between center">
        <a class="fas fa-arrow-left fa-2x" routerLink="/config/menuconfig"></a>
    </div>
    <div
    class="content"
    fxLayout="row wrap" 
    fxLayoutAlign="center none">
        <ng-container *ngFor="let study of studies">
            <mat-card class="participants-card" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column">
                    <mat-card-header>
                        <mat-card-title class="participants-card-title">
                            {{study.id}}
                        </mat-card-title>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Edad Inicial:</strong>{{study.edadInicial}}</mat-card-subtitle>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Edad Final:</strong>{{study.edadFinal}}</mat-card-subtitle>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Subcategoria:</strong>{{study.subcategoria}}</mat-card-subtitle>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Parroquia:</strong> {{study.parroquia}}</mat-card-subtitle>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Genero:</strong> {{study.genero}}</mat-card-subtitle>
                        <mat-card-subtitle class="participants-card-subtitle"><strong>Nivel socioeconomico:</strong> {{study.nivelSocioeconomico}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        
                    </mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-chip-list >
                            <mat-chip class="chip-arrived"><strong>Estatus:{{study.estado}} </strong></mat-chip>
                        </mat-chip-list>
                       
                    </div>
                    
                </div>
                <div>
                    <div style="margin-right: 10px;cursor: pointer;" (click)="asignarEstudio(study.id)">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </mat-card>
        </ng-container>
    </div>
  </div>
  
  