<div class="menu-bg content" fxFill fxLayout="column" fxLayoutAlign="center center ">
  <div class="texto-entrada">
    <h1 >Analisis Estudio</h1>
  </div>
<mat-card class="space" fxLayout="column">
  <mat-label>Proporcione su resultado acerca del estudio.</mat-label>
  <mat-form-field >
    <textarea name="" id="" cols="30" rows="10" style="width: 24rem; height:20rem;" placeholder="Escriba su descripcion aqui."></textarea>
  </mat-form-field>

  <button  mat-raised-button type="submit"  class="btn" style="align-self: center;">Guardar Resultado</button>

</mat-card>
</div>
